html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  color: #707070;
  background: #f7f7f7;
}

a {
  color: #707070;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}


